body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#flipbook .page{
    width: 600px;
    height: 900px;
    background-color: white;
}
